name: Merge to Main

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  create-pr:
    name: Update PR or Release
    permissions:
      id-token: write
      contents: write
      pull-requests: write
      issues: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
          registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build

      # Publishes using Trusted Publishers support in NPM: https://docs.npmjs.com/trusted-publishers
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          # Runs `pnpm i` after changeset to make sure that `pnpm-lock.yaml` is also updated
          # Without this change only `package.json` files are updated, without `pnpm-lock.yaml` changes.
          version: pnpm run version
          # Runs changesets on publish - will create tags and deploy to NPM
          publish: pnpm run dopublish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
