name: Pull Request Actions
permissions:
  contents: read
on:
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    name: Build, lint, and test on Node ${{ matrix.node }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: ["20.x"]
        os: [ubuntu-latest]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build

      - name: Test (vitest)
        run: pnpm run test:code

      - name: Size Test
        run: pnpm run test:size

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      - name: Firefox tests
        run: pnpm run test:browsers:firefox

      - name: Safari tests
        run: pnpm run test:browsers:safari

      - name: Chrome tests
        run: pnpm run test:browsers:chrome
