name: Pull Request Actions
on:
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    name: Build, lint, and test on Node ${{ matrix.node }} and ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: ["20.x"]
        os: [ubuntu-latest]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}

      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1

      - name: Build
        run: npm run build

      - name: Test (vitest)
        run: npm run test:code

      - name: Size Test
        run: npm run test:size

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Firefox tests
        run: npm run test:browsers:firefox

      - name: Safari tests
        run: npm run test:browsers:safari

      - name: Chrome tests
        run: npm run test:browsers:chrome

  website:
    name: Test website examples on Node ${{ matrix.node }} and ${{ matrix.os }}
    
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: ["20.x"]
        os: [ubuntu-latest]
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      
      - name: Use Node ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      
      - name: Install root dependencies
        run: npm install
      
      - name: Install website dependencies
        run: cd website && npm install
      
      - name: Install Playwright Browsers
        run: cd website && npx playwright install --with-deps
      
      - name: Run Playwright tests
        run: cd website && npm test
      
      - name: Upload test results
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: website/playwright-report/
          retention-days: 30
